body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
    color: #e6f6ff;

    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* IZQUIERDA LOGIN */
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DERECHA IMAGEN */
.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 420px;
    gap: 20px;
}

/* 🔥 TÍTULO SAGUACATE */
.titulo-principal {
    width: 100%;
    text-align: center;

    font-size: 3.2rem;
    margin: 0;

    color: #ffffff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;

    text-shadow: 0 0 20px rgba(135, 206, 250, 0.7);
    margin-bottom: 5px;
}

/* TÍTULO LOGIN */
h2 {
    width: 100%;
    text-align: center;

    font-size: 2.8rem;
    margin: 0 0 20px 0;

    color: #87cefa;
    text-shadow: 0 0 10px rgba(135, 206, 250, 0.4);
}

/* LABEL */
label {
    align-self: flex-start;
    font-size: 16px;
    color: #cfe8ff;
}

/* INPUTS */
input {
    width: 100%;
    padding: 16px 18px;
    font-size: 16px;

    background: linear-gradient(145deg, #1f1f1f, #0d0d0d);
    color: #e6f6ff;

    border: 1px solid rgba(135, 206, 250, 0.35);
    border-radius: 12px;

    outline: none;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
}

input:focus {
    border-color: #87cefa;
    box-shadow: 0 0 18px rgba(135, 206, 250, 0.5);
}

/* BOTÓN */
button {
    width: 100%;
    padding: 16px;
    font-size: 16px;

    background: linear-gradient(145deg, #1f1f1f, #0d0d0d);
    color: #87cefa;

    border: 1px solid rgba(135, 206, 250, 0.35);
    border-radius: 12px;

    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 18px rgba(135, 206, 250, 0.5);
}

/* IMAGEN */
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TEXTO LOGIN */
.login-text {
    font-size: 14px;
    text-align: center;
    color: #e6f6ff;
}

.login-text a {
    color: #87cefa;
    text-decoration: none;
}

.login-text a:hover {
    text-shadow: 0 0 10px rgba(135, 206, 250, 0.5);
}